.orderContainer {
  opacity: 0.3;
}

.flex {
  display: flex;
  align-items: center;
}

.item {
  padding-block: 1rem;
}


.item > div:nth-child(2) {
  margin-left: 1rem;
}

.img {
  width: 3rem;
}

li {
  list-style: none;
  border-bottom: 1px dashed #c4c4c4;
}


.item:last-child {
  border-bottom: 1px dotted transparent;
}

img {
  width: 100%;
}