.donation {
  margin-block: 1rem;
}

.donation label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.payment-button {
  font-family: "Gill Sans", "Ubuntu", sans-serif;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.1rem;
  background-color: darkviolet;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
