*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gill Sans", 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 800px;
  margin-inline: auto;
}

.container {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.2rem;
  padding: 0.6rem 1rem;
  margin-block: 1rem;
  box-shadow: 0 0 10px -8px rgba(0,0,0,0.3);
}

h3 {
  margin-block: 1rem;
}