*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gill Sans", 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 800px;
  margin-inline: auto;
}

.container {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.2rem;
  padding: 0.6rem 1rem;
  margin-block: 1rem;
  box-shadow: 0 0 10px -8px rgba(0,0,0,0.3);
}

h3 {
  margin-block: 1rem;
}

.paymentMethods label {
  display: block;
  margin-block: 0.4rem;
}

.paymentMethods label span {
  margin-left: 0.4rem;
}

.paymentMethods {
  padding-bottom: 1rem;
  margin: 1rem 0;
  border-bottom: 1px dashed #c4c4c4;
}

.paymentButton {
  font-family: "Gill Sans", "Ubuntu", sans-serif;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 0.1rem;
  background-color: #e23e57;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.donation {
  margin-block: 1rem;
}

.donation label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
